<?xml version="1.0"?>
<config>
    <modules>
        <Arvfc_Fancycompare>
            <version>0.1.4</version>
        </Arvfc_Fancycompare>
    </modules>
    <frontend>
        <routers>
            <fancycompare>
                <use>standard</use>
                <args>
                    <module>Arvfc_Fancycompare</module>
                    <frontName>fancycompare</frontName>
                </args>
            </fancycompare>
        </routers>
        <layout>
            <updates>
                <fancycompare>
                    <file>fancycompare.xml</file>
                </fancycompare>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<fancycompare>
				<use>admin</use>
				<args>
					<module>Arvfc_Fancycompare</module>
					<frontName>fancycompare</frontName>
				</args>
			</fancycompare>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Arvfc_Fancycompare>
							<title>Fancycompare Module</title>
							<sort_order>10</sort_order>
						</Arvfc_Fancycompare>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<fancycompare>
					<file>fancycompare.xml</file>
				</fancycompare>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <blocks>
            <fancycompare>
                <class>Arvfc_Fancycompare_Block</class>
            </fancycompare>
			<!-- Override product compare block -->
			<catalog>
				<rewrite>
					<product_compare_list>Arvfc_Fancycompare_Block_Product_Compare_List</product_compare_list>
				</rewrite>
			</catalog>
		</blocks>
        <helpers>
            <fancycompare>
                <class>Arvfc_Fancycompare_Helper</class>
            </fancycompare>
        </helpers>
    </global>
	<default>
		<fancycompareconfig>
			<fancycompare_group>
				<fancycompare_load_jq>1</fancycompare_load_jq>
			</fancycompare_group>
		</fancycompareconfig>
	</default>
</config>