<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <OnTap_Merchandiser>
            <version>2.1.7</version>
            <depends>
                 <Mage_Adminhtml/>
            </depends>
        </OnTap_Merchandiser>
    </modules>
    <default>
        <merchandiser>
            <actions>
                <instock_at_top>
                    <name>Move out of stock to bottom</name>
                    <controller_sm>OnTap_Merchandiser_Model_Merchandiser::moveInStockToTheTopSM</controller_sm>
                    <controller_vm>OnTap_Merchandiser_Model_Merchandiser::moveInStockToTheTopVM</controller_vm>
                </instock_at_top>
                <special_at_top>
                    <name>Special price to top</name>
                    <controller_sm>OnTap_Merchandiser_Model_Merchandiser::moveSaleAtTopSM</controller_sm>
                    <controller_vm>OnTap_Merchandiser_Model_Merchandiser::moveSaleAtTopVM</controller_vm>
                </special_at_top>
                <special_at_bottom>
                    <name>Special price to bottom</name>
                    <controller_sm>OnTap_Merchandiser_Model_Merchandiser::moveSaleAtBottomSM</controller_sm>
                    <controller_vm>OnTap_Merchandiser_Model_Merchandiser::moveSaleAtBottomVM</controller_vm>
                </special_at_bottom>
            </actions>
            <options>
                <attribute_codes>color,name,price</attribute_codes>
                <column_count>4</column_count>
                <show_creation_date>0</show_creation_date>
                <show_extra_images>0</show_extra_images>
                <max_images_thumbnail>4</max_images_thumbnail>
                <ajax_page_load>50</ajax_page_load>
                <hide_product_position_field>1</hide_product_position_field>
            </options>
            <index>
            	<disable_catindex>0</disable_catindex>
            </index>
        </merchandiser>
    </default>
    <global>
        <models>
            <merchandiser>
                <class>OnTap_Merchandiser_Model</class>
                <resourceModel>merchandiser_resource</resourceModel>
            </merchandiser>
            <merchandiser_resource>
                <class>OnTap_Merchandiser_Model_Resource</class>
                <entities>
                    <catalog_category_smart_product_index>
                        <table>catalog_category_smart_product_index</table>
                    </catalog_category_smart_product_index>
                    <catalog_category_smart_product_indexer_idx>
                        <table>catalog_category_smart_product_indexer_idx</table>
                    </catalog_category_smart_product_indexer_idx>
                </entities>
            </merchandiser_resource>
            <catalog>
                <rewrite>
                    <category>OnTap_Merchandiser_Model_Category</category>
                </rewrite>
            </catalog>
            <!--<catalog_resource>
                <rewrite>
                    <product_collection>OnTap_Merchandiser_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>-->
            <!--FOR OLDER MAGENTOS -->
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product_collection>OnTap_Merchandiser_Model_Resource_Mysql4_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <enterprise_catalogpermissions_resource>
                <rewrite>
                    <permission_index>OnTap_Merchandiser_Model_Catalogpermissions</permission_index>
                </rewrite>
            </enterprise_catalogpermissions_resource>
            <enterprise_search>
                <rewrite>
                    <catalog_layer>OnTap_Merchandiser_Model_Enterprise_Search_Catalog_Layer</catalog_layer>
                    <catalog_layer_filter_attribute>OnTap_Merchandiser_Model_Enterprise_Search_Catalog_Layer_Filter_Attribute</catalog_layer_filter_attribute>
                    <catalog_layer_filter_category>OnTap_Merchandiser_Model_Enterprise_Search_Catalog_Layer_Filter_Category</catalog_layer_filter_category>
                    <catalog_layer_filter_price>OnTap_Merchandiser_Model_Enterprise_Search_Catalog_Layer_Filter_Price</catalog_layer_filter_price>
                </rewrite>
            </enterprise_search>
            <enterprise_search_resource>
                <rewrite>
                    <engine>OnTap_Merchandiser_Model_Resource_Enterprise_Search_Engine</engine>
                </rewrite>
            </enterprise_search_resource>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>OnTap_Merchandiser_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog>
        </models>    
        <helpers>
            <merchandiser>
                <class>OnTap_Merchandiser_Helper</class>
            </merchandiser>
            <!--<catalog>
                <rewrite>
                    <product_flat>OnTap_Merchandiser_Helper_Flat</product_flat>
                </rewrite>
            </catalog>-->
        </helpers>   
        <blocks>
            <merchandiser>
                <class>OnTap_Merchandiser_Block</class>
            </merchandiser>
            <adminhtml>
                <rewrite>
                    <catalog_category_tree>OnTap_Merchandiser_Block_Adminhtml_Catalog_Category_Tree</catalog_category_tree>
                </rewrite>
            </adminhtml>
        </blocks>   
        <index>
            <indexer>
               <catalog_category_smart_product>
                    <model>merchandiser/catalog_category_indexer_product</model>
               </catalog_category_smart_product> 
            </indexer>
        </index>
        <resources>
            <ontap_merchandiser_setup>
                <setup>
                    <module>OnTap_Merchandiser</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ontap_merchandiser_setup>
        </resources>
        <events>
            <catalog_product_collection_apply_limitations_after>
                <observers>
                    <ontap_catalog_product_collection_apply_limitations_after>
                        <type>singleton</type>
                        <class>merchandiser/observer</class>
                        <method>catalog_product_collection_apply_limitations_after</method>
                    </ontap_catalog_product_collection_apply_limitations_after>
                </observers>
            </catalog_product_collection_apply_limitations_after>    
        	<catalog_product_collection_load_after>
                <observers>
                    <ontap_merchandiser_product_collection_load_after>
                        <class>OnTap_Merchandiser_Model_Observer</class>
                        <method>productCollectionLoadAfter</method>
                    </ontap_merchandiser_product_collection_load_after>
                </observers>
            </catalog_product_collection_load_after>
        	<catalog_block_product_list_collection>
                <observers>
                    <ontap_merchandiser_apply_sortings>
                        <class>OnTap_Merchandiser_Model_Observer</class>
                        <method>applySortsToCollection</method>
                    </ontap_merchandiser_apply_sortings>
                </observers>
            </catalog_block_product_list_collection>
        </events>
    </global>
    <frontend>
        <category>
            <collection>
                <attributes>
                    <smart_attributes/>
                </attributes>
            </collection>
        </category>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <merchandiser>
                    <file>merchandiser.xml</file>
                </merchandiser>
            </updates>
        </layout>
        <events>
        	<core_block_abstract_to_html_after>
                <observers>
                    <mgt_amazing_wysiwyg_add_js>
                        <class>merchandiser/observer</class>
                        <method>addJs</method>
                    </mgt_amazing_wysiwyg_add_js>
                 </observers>
            </core_block_abstract_to_html_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <smartmerch_adminhtml_catalog_category_tabs>
                        <type>singleton</type>
                        <class>merchandiser/adminhtml_observer</class>
                        <method>adminhtml_catalog_category_tabs</method>
                    </smartmerch_adminhtml_catalog_category_tabs>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_prepare_save>
                <observers>
                    <smartmerch_catalog_category_prepare_save>
                        <type>singleton</type>
                        <class>merchandiser/adminhtml_observer</class>
                        <method>catalog_category_prepare_save</method>
                    </smartmerch_catalog_category_prepare_save>
                </observers>
            </catalog_category_prepare_save>
            <catalog_category_save_commit_after>
            	<observers>
                    <smartmerch_category_commit_after>
                        <type>singleton</type>
                        <class>merchandiser/adminhtml_observer</class>
                        <method>categoryCommitAfter</method>
                    </smartmerch_category_commit_after>
                </observers>
            </catalog_category_save_commit_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <merchandiser>
                <use>admin</use>
                <args>
                    <module>OnTap_Merchandiser</module>
                    <frontName>merchandiser</frontName>
                </args>
            </merchandiser>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <smart_merchandiser_reindex>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>merchandiser/adminhtml_observer::reindexCron</model></run>
            </smart_merchandiser_reindex>
        </jobs>
    </crontab>
</config>
